<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Freelance Work</h3>
        <div class="subheading mb-3">Front End Dveloper</div>
        <p>Developed &amp; design various websites as freelancer using various Frameworks.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2016 - Present</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">UI Developer</h3>
        <div class="subheading mb-3">Aspiration Educational Institute</div>
        <p>An educational institute that provides valuable resources for industry and society through
          excellence in technical education.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">May 2014 - April 2016</span>
      </div>
    </div>

  </div>

</section>

<hr class="m-0">
